.App {
  text-align: center;
}

.Options {
  text-align: left;
}

.Design {
  background: #c2e59c; 
  background: -webkit-linear-gradient(to right, #0C3547, #3C98A3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C3547, #3C98A3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 50%;
  display: flex;
  align-items: center;
}

.Logo{
  height: 60%;
  width: 90%;
}

.form-control {
  font-size: 15px;
}

.slogan {
  font-size: 3rem;
  margin-top: 50%;
}

.btn_login {
  background: #c2e59c; 
  background: -webkit-linear-gradient(to right, #0C3547, #3C98A3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0C3547, #3C98A3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 1.3rem;
  color: white;
  border: 0;
  padding: 2% 15%;
  border-radius: 8px;
}

.btn_create {
  background: white;
  border: 2px solid #268598;
  border-radius: 8px;
  font-size: 1rem;
  color: black;
  transition-duration: 0.4s;
}

.sign_up, .forgot {
  color: #268598;
}

.btn_create:hover {
  background: #268598;
  color: white;
}

img {
  height: 40%;
  width: 13%;
}

nav{
  padding: 1rem 1rem 1rem 1rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
